
/*General*/
span {
	font-family: Roboto;
}

h2 { 
	color: #F3a252;
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	font-size: 50px;
	text-shadow: 1px 1px 1px black;
} 

h3 {
	color: #F3a252;
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	font-size: 30px;
}

.caption-titles {
	color: white;
	text-shadow: 2px 2px 2px #21254A;	
}

.header {
	max-height: 300px;
	padding: 13em 8em;
    text-align: center;
}

.header-position {
	bottom: 60px;
}




/*Navbar*/
.nav-link span {
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	font-size: 18px;
	color: white;
}

.navbar {
	background-color: #21254A;
	margin-bottom: 0.7em
}

.navbar-margin {
	margin-top: 65px
}

.nav-link.btn.btn-info {
	margin: 0px 7px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #21254A;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #CACACA;
}


/*Footer*/
#Footer { 
	background-color: #21254A;
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	font-size: 18px;
	color: white;
	padding-top:20px;
	padding-bottom: 10px;
	padding-left: 20px;
}




/*index.hmtl - Front page carousel*/
div.carousel-item {
	max-height: 500px;
}

div.carousel-item img {
	width: 100%; 
	height: auto;
}

.carousel-title {
	font-family: 'Frank Ruhl Libre';
	font-size: 350%;
	font-weight: 700;
	color: #F3a252;
	text-shadow: 2px 2px 2px #21254A;
}

.carousel-caption {
	font-weight: 600;
	text-shadow: 2px 2px 2px #21254A;
	top: 35%;
}

#carousel-image1 {
	width: 100%;
   height: auto;
}
 
#carousel-image2 {
	margin: 0 auto;
}


/*index.hmtl - Front Page About us*/
#About-Us {
	text-align:justify;
	align-items:center;
	padding: 7em 0;
}


/*index.hmtl - Front Page Forum*/
#Forum { 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
	background-image: url("../images/typewriter-blurred.jpg");
	text-shadow: 1px 1px 1px black;
	color: white;
	text-align: center;
}


/*index.hmtl - Front Page Coaching*/
#Coaching {

}

#Services {
	padding: 10em 0;
}

#coaching_image {
	padding-top: 50px;
}




/*about-us.html - General*/
.padding-about {
	padding: 70px 50px;
}

.col-center {
	float: none;
    margin: 30px auto;
}


/*about-us.html - About our team*/
#about-our-team-title {
	background-image: url("../images/coaching.jpg");
	background-size: cover;
	padding: 100px;
	background-position: center;
	text-shadow: 2px 2px 2px #21254A;
}

#team-summit-title {
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	color: #F3A252;
	font-size: 250%;
	padding: 20px;
	text-shadow: 1px 1px 0px #000000;
}

.about-team {
	padding-top: 60px;
	padding-bottom: 80px;
}


/*about-us.html - Team Summit Images*/
.team-summit {
	padding: 55px 20px;
	background-color: #E4E4E4;
}

.team-images {
	max-height: 200px;
}


/*about-us.html - Our Vision*/
.about-vision-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

#about-our-vision-title {
	background-image: url("../images/coaching2.jpg");
	background-size: cover;
	padding: 100px;
	background-position: center;
	text-shadow: 2px 2px 2px #21254A;
}

#about-vision-text {
	line-height: 1.5;
}

.about-socialmedia {
	max-height: 75px;
}




/*forum.html*/

 

#forum_header { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    background-image: url("../images/community1.jpg");
    padding: 13em 8em;
    text-align: center;
} 

 


.forum_title {
    position: relative;
    bottom: 90px;
}

 

.forum_title h2 { 
    font-size: 75px;
} 

 

.forum_title p { 
    font-size: 25px;
    color: white;
}

 

#forum_description { 
    padding: 5em 3em;
}

 


/*coaching.html*/

 

#coaching_header { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    background-image: url("../images/Contact_Header4.jpg");
    padding: 13em 8em;
    text-align: center;
} 

 

.coaching_title {
    position: relative;
    bottom: 90px;
}

 

.coaching_title h2 { 
    font-size: 75px;
} 

 

.coaching_title p { 
    font-size: 25px;
    color: white;
}

 

#coaching_description { 
    padding: 5em 0;
}

#justification_header {
	background-color: #21254A;
} 

#colour-code { 
	width: 100%;
}




.contact-header {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    background-image: url("../images/contact-header.jpg");
}