
/*General*/
span {
	font-family: Roboto;
}

h2 { 
	color: #F3a252;
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;	
} 




/*Navbar*/
.nav-link span {
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	font-size: 18px;
	color: white;
}

.navbar {
	background-color: #21254A;
	margin-bottom: 0.7em
}

.navbar-margin {
	margin-top: 65px
}

.nav-link.btn.btn-info {
	margin: 0px 7px;
}


/*Footer*/
#Footer { 
	background-color: #21254A;
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	font-size: 18px;
	color: white;
	padding-top:20px;
	padding-bottom: 10px;
	padding-left: 20px;
}




/*index.hmtl - Front page carousel*/
div.carousel-item {
	max-height: 500px;
}

div.carousel-item img {
	width: 100%; 
	height: auto;
}

#caption-1 {
	font-family: 'Frank Ruhl Libre';
	font-size: 350%;
	font-weight: 700;
	color: #F3a252;
	text-shadow: 2px 2px 2px #21254A;
}

#caption-2, #caption-3 {
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	font-size: 300%;
	color: #F3a252;
	text-shadow: 2px 2px 2px #21254A;
}

.carousel-caption span {
	font-weight: 600;
	text-shadow: 2px 2px 2px #21254A;
}

.carousel-caption {
	top: 35%;
}

#carousel-image1 {
	width: 100%;
   height: auto;
}
 
#carousel-image2 {
	margin: 0 auto;
}


/*index.hmtl - Front Page About us*/
#About-Us {
	text-align:justify;
	align-items:center;
	padding: 7em 0;
}


/*index.hmtl - Front Page Forum*/
#Forum { 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
	background-image: url("../images/typewriter-blurred.jpg");
	padding: 12em 8em;
	color: white;
	text-align: center;
}


/*index.hmtl - Front Page Coaching*/
#Coaching {
	padding: 10em 0;
}

#Services {
	padding: 10em 0;
}

#coaching_image {
	padding-top: 50px;
}




/*about-us.html - General*/
.padding-about {
	padding: 70px 50px;
}

.col-center {
	float: none;
    margin: 30px auto;
}

.about-title {
	font-size: 50px;
}


/*about-us.html - About our team*/
#about-our-team-title {
	background-image: url("../images/coaching.jpg");
	background-size: cover;
	padding: 100px;
	background-position: center;
	text-shadow: 2px 2px 2px #21254A;
}

#team-summit-title {
	font-family: 'Frank Ruhl Libre';
	font-weight: 700;
	color: #F3A252;
	font-size: 250%;
	padding: 20px;
	text-shadow: 1px 1px 0px #000000;
}

.about-team {
	padding-top: 60px;
	padding-bottom: 80px;
}


/*about-us.html - Team Summit Images*/
.team-summit {
	padding: 55px 20px;
	background-color: #E4E4E4;
}

.team-images {
	max-height: 200px;
}


/*about-us.html - Our Vision*/
.about-vision-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

#about-our-vision-title {
	background-image: url("../images/coaching2.jpg");
	background-size: cover;
	padding: 100px;
	background-position: center;
	text-shadow: 2px 2px 2px #21254A;
}

#about-vision-text {
	line-height: 1.5;
}

.about-socialmedia {
	max-height: 75px;
}




/*forum.html*/

 

#forum_header { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    background-image: url("../images/community1.jpg");
    padding: 13em 8em;
    text-align: center;
} 

 


.forum_title {
    position: relative;
    bottom: 90px;
}

 

.forum_title h2 { 
    font-size: 75px;
} 

 

.forum_title p { 
    font-size: 25px;
    color: white;
}

 

#forum_description { 
    padding: 5em 0;
}

 


/*coaching.html*/

 

#coaching_header { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    background-image: url("../images/coaching2.jpg");
    padding: 13em 8em;
    text-align: center;
} 

 

.coaching_title {
    position: relative;
    bottom: 90px;
}

 

.coaching_title h2 { 
    font-size: 75px;
} 

 

.coaching_title p { 
    font-size: 25px;
    color: white;
}

 

#coaching_description { 
    padding: 5em 0;
}